@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--JCE-red: #dd0000;
	--JCE-red-shine: #dd5555;
	--JCE-white: #eeeeee;
}

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

#root {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	text-align: center;
}

#app_main_page {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background: url("https://www.pixelstalk.net/wp-content/uploads/images6/2K-Desktop-Wallpapers.jpg")
		no-repeat center center fixed; */
	background-color: #555;
	background-size: cover;
}

#login_form,
#add_users_form {
	width: 100%;
	max-width: 600px;
	height: 100%;
	min-height: 600px;
	max-height: 800px;
}

.submit_button {
	position: relative;
	overflow: hidden;
	width: 50%;
	height: 2rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	font-weight: 500;
	background-color: var(--JCE-white);
	transition: background-color 0.3s;
}

.submit_button::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		-60deg,
		rgba(255, 255, 255, 0) 40%,
		rgba(255, 255, 255, 0.4) 50%,
		rgba(255, 255, 255, 0) 60%
	);
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 0.3s;
	pointer-events: none;
}

.submit_button:hover {
	background-color: var(--JCE-red);
}

.submit_button:hover::after {
	animation: shine 0.25s linear;
}

@keyframes shine {
	0% {
		opacity: 0;
		transform: translateX(-50%);
	}
	5% {
		opacity: 1;
	}
	50% {
		opacity: 1;
		transform: translateX(0%);
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(50%);
	}
}
