@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--JCE-red: #dd0000;
	--JCE-red-shine: #dd5555;
	--JCE-white: #eeeeee;
}

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

#root {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	text-align: center;
}

#main_page {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background: url("https://www.pixelstalk.net/wp-content/uploads/images6/2K-Desktop-Wallpapers.jpg")
		no-repeat center center fixed; */
	background-color: #555;
	background-size: cover;
}

#login_form {
	width: 100%;
	max-width: 600px;
	height: 100%;
	min-height: 600px;
	max-height: 800px;
}
