.contact_us_div {
	width: 100%;
	height: 100%;
}

.contact_us_form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--JCE-gap);
}

.form_row {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: var(--JCE-gap);
}

.form_row select {
	width: 100%;
	height: 2rem;
	border-radius: var(--JCE-BR);
	border: 1px solid #000000;
}

.contact_us_div button {
	width: 50%;
	margin: var(--JCE-gap) 0 0 0;
}

@media screen and (max-width: 1000px) {
	.form_row {
		flex-direction: column;
	}
}
