.event {
	width: 100%;
	/* max-width: 400px; */
	height: 100%;
	/* aspect-ratio: 1; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event > .event-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: blur(8px);
	z-index: -1;
}

.event > .event-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	cursor: pointer;
}
