.languages_tab {
	width: fit-content;
	height: fit-content;
	box-sizing: border-box;
	padding: var(--JCE-Padding);
	border-radius: 0 0 var(--JCE-BR) var(--JCE-BR);
	background-color: #222;
	z-index: 1000;
}

#languages_tab_selection {
	border: none;
	text-decoration: none;
	/* height: calc(var(--JCE-Padding) * 3); */
	border-radius: var(--JCE-BR);
	padding: 0 var(--JCE-Padding);
	font-size: calc(var(--JCE-Padding) * 2);
	font-weight: 400;
}

@media screen and (max-width: 600px) {
	.languages_tab {
		padding: 0.25rem 0.5rem;
	}

	#languages_tab_selection {
		font-size: small;
		padding: 0.25rem 0.5rem;
	}
}
