* {
	margin: 0;
	padding: 0;
}

.languages_tab {
	position: fixed;
	top: 0;
	left: 2rem;
	width: fit-content;
	height: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 0 0 1rem 1rem;
	background-color: #222;
}

#languages_tab_selection {
	border: none;
	text-decoration: none;
	border-radius: 10px;
	padding: 0.5rem 1rem;
	font-size: medium;
	font-weight: 400;
}
