.marathon {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem;
	background-color: antiquewhite;
}

.marathonOverlay {
	position: relative;
}

.marathonOverlay > img {
	width: 100%;
	max-width: 150px;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	border: 2px solid black;
}

.marathon > h3 {
	font-size: 1.5rem;
	font-weight: 400;
}