.marathon {
	--link-img-size: 25px;
	--cell-padding: 0.5rem;
	position: relative;
	width: 100%;
}

.marathon td {
	border: 1px solid black;
	padding: var(--cell-padding);
}

.marathon img {
	max-width: var(--link-img-size);
	aspect-ratio: 1;
	object-fit: contain;
}

.marathon:nth-child(odd) {
	background-color: rgb(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
	.marathon {
		--link-img-size: 20px;
		--cell-padding: 1px;
	}

	.marathon td {
		font-size: smaller;
		font-weight: 400;
	}
}
