#manage_aguda_members_page {
	background: var(--JCE-gradient-dark-gray);
}

#addMembers {
	width: 100%;
	height: min-content;
	display: grid;
	grid-template-columns: 1fr;
}

#agudaMembers {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	place-items: center;
	align-items: flex-start;
	direction: ltr;
}

@media screen and (max-width: 1000px) {
	#addMembers,
	#agudaMembers {
		width: 100%;
	}

	#agudaMembers {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}
