#manage_aguda_members_page {
	width: 100%;
	min-height: 100vh;
}

#addMembers {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#agudaMembers {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	background-color: aquamarine;
	direction: ltr;
}
