#manage_aguda_members_page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
		linear-gradient(15deg, #13547a, #80d0c7);
}

#addMembers {
	width: 80%;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#agudaMembers {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	place-items: center;
	direction: ltr;
}
