#manage_marathons_page {
	background: var(--JCE-gradient-dark-gray);
}

#addMarathons,
.marathons_table {
	width: 90%;
}

@media screen and (max-width: 1000px) {
	#addMarathons,
	.marathons_table {
		width: 100%;
	}
}

.marathons_table table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

@media screen and (max-width: 1000px) {
	.marathons_table table {
		table-layout: auto;
	}
}
