#manage_aguda_members_page {
	padding: var(--JCE-gap);
	background: var(--JCE-gradient-dark-gray);
}

#addMembers {
	width: 90%;
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#agudaMembers {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	place-items: center;
	align-items: flex-start;
	direction: ltr;
}

@media screen and (max-width: 1000px) {
	#addMembers,
	#agudaMembers {
		width: 100%;
	}

	#agudaMembers {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}
