#manage_marathons_page {
	padding: var(--JCE-gap);
	background: var(--JCE-gradient-dark-gray);
}

#addMarathons,
.marathons_table {
	width: 90%;
}

@media screen and (max-width: 1000px) {
	#addMarathons,
	.marathons_table {
		width: 100%;
	}
}

.marathons_table table {
	width: 100%;
	border-collapse: collapse;
}
