#manage_events_page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
		linear-gradient(15deg, #1449aa, #0073df);
}

#add_event {
	width: 60%;
	max-height: 600px;
}

#event_list {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	place-items: center;
	direction: ltr;
}

#blur_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	pointer-events: none;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

#blur_background.active {
	pointer-events: all;
	opacity: 1;
}

@media screen and (max-width: 600px) {
	#add_event {
		width: 100%;
		max-height: none;
	}

	#event_list {
		width: 100%;
	}
}
