#meeting_room_page {
	background: var(--JCE-white);
	padding: var(--JCE-gap);
}

.meeting_room_booking_container {
	width: 100%;
	max-width: 600px;
	/* height: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--JCE-gap);
}

.calendar {
	direction: rtl;
	width: 100%;
	aspect-ratio: 3/2;
	background-color: #f4f4f4;
	border-radius: var(--JCE-BR);
	padding: 0 var(--JCE-Padding) var(--JCE-Padding) var(--JCE-Padding);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 1000px) {
	.calendar {
		aspect-ratio: 1/1;
	}
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: var(--JCE-Padding);
}

.arrow {
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.arrow img {
	width: 25px;
	height: 25px;
}

.calendar h2 {
	text-align: center;
	color: #333;
}

.calendar .days {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: var(--JCE-Padding);
}

.calendar .days div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: var(--JCE-BR);
	background-color: #fff;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.calendar .days div:hover {
	background-color: #ec1b31;
	transition: ease-in-out 0.3s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.calendar .days div.selected {
	background-color: #ec1b31;
}

/* Booking component css */
.booking_box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: space-between;
	gap: 1rem;
	width: 100%;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: var(--JCE-Padding);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin-top: 1rem;
	transform-origin: top center;
	transform: scaleY(0);
	transition: transform 0.3s;
}

.booking_box.active {
	transform: scaleY(1);
}

.time_frame_button {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;
	gap: var(--JCE-Padding);
}

.time_frame_button > button {
	width: 100%;
}

  